doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HoTel
        include ./component/links
    body 
        include ./component/header
        include ./component/banner
        include ./component/discovery
        include ./component/offers
        include ./component/services
        include ./component/activities
        include ./component/contact
        include ./component/footer
    include ./component/scripts.pug