.activities#activities
    h1 Find your perfect activities 
    p Around the Hotel 
    .cards 
        .card 
            img(src="../images/cofe -shop.jpg", alt="")
            div 
                p Cofe Shop

        .card 
            img(src=".././images/resturant.jpg", alt="")
            div 
                p Resturant
        .card 
            img(src=".././images/sport clue.jpg", alt="")
            div 
                p Sport club
        .card 
            img(src=".././images/tran.jfif", alt="")
            div 
                p Tran station
        .card 
            img(src=".././images/cinema.jfif", alt="")
            div 
                p 5 Stars Cinema

        .card 
            img(src=".././images/airport.jpg", alt="")
            div 
                p  5 Stars Air-port








