section.banner
    img(src="../images/head background.jpg", alt="")
    .banner-content 
        .checky-content 
            .checkin     
                    h4 CHECK IN
                    input(type="month", name="")
            .checkout     
                    h4 CHECK OUT
                    input(type="month", name="")
            .guests      
                    h4 GUESTS
                    .guests_count 
                        input(type="text", value="1") 
                        .updown 
                            i.fas.fa-arrow-up.up
                            i.fas.fa-arrow-down.down 
            .avalible     
                a(href="#" value="avaliblty") check avaliblty 