.contact#contact 
    form(action="#").form 
        h3 Contact Us 
        input(type="text", name="user name" id="user" placeholder="Enter Your Name")
        input(type="email", name="email" placeholder="Enter your email" require)
        textarea(name="sub", cols="auto", rows="auto") 
        input(type="submit", value="Submit" class='submit')
    .mapcontainer 
        h4 Find Us 
        iframe.map.col-6.col-xsm-12( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d128014.37516234764!2d31.177452141796884!3d29.06614790000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145a27d31678a25d%3A0x3d85b315730dc55b!2sevento%20Rest!5e1!3m2!1sar!2seg!4v1609836787142!5m2!1sar!2seg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
