section.discovery
    img(src=".././images/luxury room.jpg", alt="this is lauxery room image")
    .discovery_content 
        h2 Disvover our
            span History  
        .prographs 
            p babel hotel opened its dor on october 1st 1907, the king of our country come to this hotel in 1970 He had a good time at our hotel and said it was the best place he had seen in his life and most of our famous charachter. 
            p a lot of movies was filmed in our hotel  one of them  fish in the desert ,since this movie, a lot of people   come to our hotel ,because our hotel is the famous hotel in the world and we wish you visit our hotel one day
            