footer
  
    .flex   
        div 
            h3 Toll Free Room reservations only 
            p +021021021020
            p more numbers
            h4 Navigation  
            .flex
                ul 
                    li loyalty 
                    li Contact Us 
                    li Best price Guarantee
                    li Press Room
                ul 
                    li Careers 
                    li Affiliate Program 
                    li Travel Agents 
                    li Web Accessibility       

        div 
            h3 Stay Connected 
            p Follow us by email:
            a(href="" ) RECIVE NEWSELITTERS AND OFFERS 
            P follow us on socail media networks: 
            ul.icons.flex
                li 
                    img(src=".././awsome/svgs/brands/facebook-f.svg", alt="")
                li 
                    img(src=".././awsome/svgs/brands/twitter.svg", alt="")
                li 
                    img(src=".././awsome/svgs/brands/youtube.svg", alt="")
                li 
                    img(src=".././awsome/svgs/brands/instagram.svg", alt="")
                li 
                    img(src=".././awsome/svgs/brands/pinterest-p.svg", alt="")

        div 
            h3 Accor All app 
            p the best trip is the one we havent taken yet... Find it on the Sccor all app on the Apple store and Google plae.
            .flex.icons 
                img(src=".././awsome/svgs/brands/app-store-ios.svg", alt="")
                img(src=".././awsome/svgs/brands/google-play.svg", alt="")
    hr
    p Terms and Condition - Privacy Polocity - Cookies Prefernces - Sitemap 
    Copyright Copyright 2021
    button.top(title="Go to top") Top 