  <header class="flex">
        <div class="logo">HoTeL</div>
        <nav>
            <ul class="flex">
                <li><a href="#">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#offers">Offers</a></li>
                <li><a href="#activities">Activities</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>