header.header
   
   .logo 
        i H
        i o
        i T
        i e
        i L
   .menubtn 
           i.fas.fa-bars.open.active
           i.fas.fa-times.close 
   nav

       ul
            li
               a(href='#') Home

            li
               a(href='#offers') Offers
            li
               a(href='#services') Services

            li
               a(href='#activities') Activities

            li
               a(href='#contact') Contact
                 


