.offer-container#offers 
    h1.title Offers 
    p.title Babel, a Fairmont-operated hotel, is pleased to offer special packages and offers created for your convenience and pleasure.
    .cards   
        .card 
            .open-layer
            .card-head 
                img(src=".././images/luxury room.jpg", alt="this is hotel images")
                p  Babel king Room
            .card-body 
                h4  Babel king Room
                p the babel hotel kiong located on floors 5 to 19 and provide confortable sitting area
                h5 celebrate your love in the grandest city in the world
                p SEE ALL DETAILS         
            .card-footer 
                img(src="../images/luxury room.jpg", alt="image")
                i.fas.fa-times.close 
                .content 
                    h1.title babel king
                    button Book Now
                    .informations 
                        h1 Description 
                        .offerincludes.flex
                            h4.title offer includes 
                            .list 
                                ul 
                                    li
                                        p  30One night stay in the babel king room
                                    li
                                        p  Seating for up to 5 guests
                                    li
                                        p   piano player
                                    li
                                        p   a champagne toast for up to 5 guests
                                    li
                                        p  Afternoon Tea in The Palm Court served after your ceremony
                                    li
                                        p  Rose petals, a bubble bath, and champagne served in suite that evening
                                    li
                                        p  Mementos of your two Plazachampagne flutes
                        hr
                        .size.flex  
                            h4 Room Size
                            p 400sq.ft./44sq.m
                        hr
                        .rat.flex  
                            h4 Bed Size
                            p King
                        hr
                        .book_package.flex 
                            h4 Room View
                            p 58th Street or Interior Courtyard Please note, the photos above are representative of the room categories. Actual rooms may vary from what is shown.
                        hr
                        .social-media.flex 
                            img(src="../awsome/svgs/brands/facebook-f.svg", alt="facebook")
                            img(src="../awsome/svgs/brands/twitter.svg", alt="twitter")
                            img(src="../awsome/svgs/brands/instagram.svg", alt="insta")
                        
        .card 
            .open-layer
            .card-head 
                img(src="../images/head background.jpg", alt="this is hotel images")
                p Grandest Royal Wedding
            .card-body 
                h4 Grandest Royal Wedding
                p the babel hotel,A FAIRMONT MANGED HOTEL 
                h5 celebrate your love in the grandest city in the world
                p SEE ALL DETAILS
               
            .card-footer 
                img(src="../images/head background.jpg", alt="image")
                i.fas.fa-times.close 
                .content 
                    h1.title babel Royal wedding 
                    h2 babel Royal wedding
                    p Celebrate your love and say "I do" in the grandest fashion, in the grandest city in the world, New York City.
                    .informations 
                        h1 OFFER DEtails 
                        .offerincludes.flex
                            h4.title offer includes 
                            .list 
                                ul 
                                    li
                                        p  One night stay in the Royal Suite
                                    li
                                        p  Seating for up to 30 guests
                                    li
                                        p  Flower arrangements & piano player
                                    li
                                        p  A selection of canapes from our Executive Chef & a champagne toast for up to 30 guests
                                    li
                                        p  Afternoon Tea in The Palm Court served after your ceremony
                                    li
                                        p  Rose petals, a bubble bath, and champagne served in suite that evening
                                    li
                                        p  Mementos of your Plaza wedding including two monogrammed robes, two Plazachampagne flutes, and The Plaza’s signature scent
                        hr
                        .availability.flex  
                            h4 Availability 
                            p This offer is available all year round, subject to availability.
                        hr
                        .rat.flex  
                            h4 Rates 
                            p Rates starting at $30.000
                        hr
                        .book_package.flex 
                            h4 Book package 
                            p To make your reservation, please email our Event Services Manager at babel@gmail.com
                        hr
                        .Terms.flex 
                            h4 Terms & Conditions 
                            p New bookings only. Blackout dates may apply. This offer cannot be combined with any other offer or promotion. House cancellation policy applies.
                        hr
                        .social-media.flex 
                            img(src="../awsome/svgs/brands/facebook-f.svg", alt="facebook")
                            img(src="../awsome/svgs/brands/twitter.svg", alt="twitter")
                            img(src="../awsome/svgs/brands/instagram.svg", alt="insta")
 
        .card 
            .open-layer
            .card-head 
                img(src=".././images/double room.jpg", alt="this is hotel images")
                p Tower Room
            .card-body 
                h4 Tower Room
                p the babel hotel,A FAIRMONT MANGED HOTEL 
                h5 celebrate your love in the grandest city in the world
                p SEE ALL DETAILS
            .card-footer  
                img(src=".././images/double room.jpg", alt="image")
                i.fas.fa-times.close 
                .content 
                    button Book Now
                    h1.title Tower Room
                    .informations 
                        h1 OFFER DEtails 
                        .offerincludes.flex
                            h4.title Common Guest Room Amenities 
                            .list 
                                ul 
                                    li
                                        p  Beaux Arts inspired décor and chandeliers
                                    li
                                        p  Twice daily housekeeping service
                                    li
                                        p  IP-based high definition video-on-demand system

                                    li
                                        p  Sophisticated telephone and networking technology

                                    li
                                        p  Wall mounted flat screen televisions

                                    li
                                        p Exquisite inlaid “earth stone” mosaic tiled bathroom, most with glass shower and bathtub


                                    li
                                        p  24-carat gold plated Sherle Wagner faucets and accessories with hand crafted solid white marble vanities designed exclusively for The Plaza
                        hr
                        .roomSize.flex  
                            h4 Room Size 
                            p 550 sq.ft. to 550 sq.ft. / 51 sq.m to 51 sq.m
                        hr
                        .Bed.flex  
                            h4 Bed Size
                            p 1 Large Round Bed
                        hr
                        .book_package.flex 
                            h4 Room View 
                            p Fifth Avenue City View Please note, the photos above are representative of the room categories. Actual rooms may vary from what is shown.
                        hr
                        .social-media.flex 
                            img(src="../awsome/svgs/brands/facebook-f.svg", alt="facebook")
                            img(src="../awsome/svgs/brands/twitter.svg", alt="twitter")
                            img(src="../awsome/svgs/brands/instagram.svg", alt="insta")
                    
                            