.services#services 
   h1 Guest Services 
   p Unmatched hotel services and amenities, enhanced by today’s foremost technology, create an exceptional luxury experience 
   .icons
      .icon
         img(src="../awsome/svgs/solid/dog.svg", alt="")
         p  pet Amenities 
      .icon
         img(src="../awsome/svgs/solid/spa.svg", alt="")
         p  Guerlain Spa 
      .icon
         img(src="../awsome/svgs/solid/envelope.svg", alt="")
         p   Enhance Your Stay  
      .icon
         img(src="../awsome/svgs/brands/galactic-republic.svg", alt="")
         p  ALL safe and well  
      .icon
         img(src="../awsome/svgs/brands/fedex.svg", alt="")
         p  Destination fee 
      .icon
         img(src="../awsome/svgs/solid/wifi.svg", alt="")
         p Free Wi-Fi
      .icon
         img(src="../awsome/svgs/solid/concierge-bell.svg", alt="")
         p   concirege 
      .icon
         img(src="../awsome/svgs/solid/baby-carriage.svg", alt="")
         p  Babysitting 
      .icon
         img(src="../awsome/svgs/solid/parking.svg", alt="")
         p   parking
      .icon
         img(src="../awsome/svgs/solid/book-open.svg", alt="")
         p   Book
      .icon
         img(src="../awsome/svgs/solid/bell-slash.svg", alt="")
         p   bell staff
      .icon
         img(src="../awsome/svgs/solid/plane-arrival.svg", alt="")
         p   BusinessTravel
      .icon
         img(src="../awsome/svgs/solid/check-double.svg", alt="")
         p   check-in/check-out
      .icon
         img(src="../awsome/svgs/brands/paypal.svg", alt="")
         p   payment Types
      .icon
         img(src="../awsome/svgs/solid/fast-forward.svg", alt="")
         p   Elevators
      .icon
         img(src="../awsome/svgs/brands/opera.svg", alt="")
         p   Fitnness Center 
      .icon
         img(src="../awsome/svgs/solid/wheelchair.svg", alt="")
         p   Wheelchair Access 
      .icon
         img(src="../awsome/svgs/brands/leanpub.svg", alt="")
         p   laundry Services 
      .icon
         img(src="../awsome/svgs/solid/house-user.svg", alt="")
         p   housekeeping
      .icon
         img(src="../awsome/svgs/brands/mailchimp.svg", alt="")
         p   mail Services 
